

.nav {
  display: flex;
  height: 150px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #004581;
}

.nav span img {
  width: 300px;
  height: 80px;
  align-items: center;
}

.nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.nav ul li {
  list-style: none;
}



.link {
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  text-shadow: 0px 10px 20px;
}

.link:hover {
  text-decoration: line-through;
  color: palevioletred;
}

.menu {
  display: none;
}
